#include "socfpga_mitysom5csx.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;
	};

	soc {

		hps_lw_bus: bus@0ff200000 {
			status = "okay";

			sysid_qsys: sysid@000000 {
				compatible = "altr,sysid-1.0";
				reg = <0x000000 0x08>;
			};

			uart_pc: serial@0200 {
				compatible = "altr,16550-FIFO128";
				reg = <0x0200 0x200>;
				interrupts = <0 40 4>;
				clock-frequency = <50000000>;
				fifo-size = <128>;
				reg-io-width = <4>;
				reg-shift = <2>;
				has-hw-flow-control;
			};

			uart_1: serial@0400 {
				compatible = "altr,16550-FIFO128";
				reg = <0x0400 0x200>;
				interrupts = <0 41 4>;
				clock-frequency = <50000000>;
				fifo-size = <128>;
				reg-io-width = <4>;
				reg-shift = <2>;
				has-hw-flow-control;
			};

			uart_2: serial@0600 {
				compatible = "altr,16550-FIFO128";
				reg = <0x0600 0x200>;
				interrupts = <0 42 4>;
				clock-frequency = <50000000>;
				fifo-size = <128>;
				reg-io-width = <4>;
				reg-shift = <2>;
				has-hw-flow-control;
			};

			uart_3: serial@0800 {
				compatible = "altr,16550-FIFO128";
				reg = <0x0800 0x200>;
				interrupts = <0 43 4>;
				clock-frequency = <50000000>;
				fifo-size = <128>;
				reg-io-width = <4>;
				reg-shift = <2>;
				has-hw-flow-control;
			};

			uart_485: serial@0a00 {
				compatible = "altr,16550-FIFO128";
				reg = <0x0a00 0x200>;
				interrupts = <0 47 4>;
				clock-frequency = <50000000>;
				fifo-size = <128>;
				reg-io-width = <4>;
				reg-shift = <2>;
				has-hw-flow-control;
			};

			pio_0: gpio@00a0 {
				compatible = "altr,pio-1.0";
				reg = <0x00a0 0x20>;
				interrupts = <0 44 4>;
				altr,gpio-bank-width = <16>;
				altr,interrupt_type = <IRQ_TYPE_EDGE_RISING>;
				#gpio-cells = <1>;
				gpio-controller;
				#interrupt-cells = <1>;
				interrupt-controller;
			};

			pio_1: gpio@00c0 {
				compatible = "altr,pio-1.0";
				reg = <0x00c0 0x20>;
				interrupts = <0 48 4>;
				altr,gpio-bank-width = <8>;
				altr,interrupt_type = <IRQ_TYPE_EDGE_RISING>;
				#gpio-cells = <1>;
				gpio-controller;
				#interrupt-cells = <1>;
				interrupt-controller;
			};

			hdmi_0: hdmi0x0100 {
				compatible = "altr,vip-frame-reader-1.0";
				reg = <0x0100 0x80>;
				max-width = <640>;
				max-height = <480>;
				bits-per-color = <0x8>;
				mem-word-width = <0x80>;
			};

			tsc2046: touchscreen0x0180 {
				compatible = "cl,tsc2046";
				reg = <0x180 0x20>;
				interrupts = <0 45 4>;
			};
		};

		streamer0: streamer@20000000 {
			compatible = "uio,irq";
			interrupts = <0 46 1>;
		};

		spi0: spi@fff00000 {
			num-chipselect = <4>;
			status = "okay";
			spidev_tlv@0 {
				compatible = "spidev";
				reg = <0>;
				spi-max-frequency = <10000000>;
				enable-dma = <1>;
			};
			spidev_rly@1 {
				compatible = "spidev";
				reg = <1>;	
				spi-max-frequency = <10000000>;
				enable-dma = <1>;
			};
			spidev_curr@2 {
				compatible = "spidev";
				reg = <2>;
				spi-max-frequency = <10000000>;
				enable-dma = <1>;
			};
			spidev_temp@3 {
				compatible = "spidev";
				reg = <3>;
				spi-max-frequency = <10000000>;
				enable-dma = <1>;
			};
		};

		spi1: spi@fff01000 {
			num-chipselect = <1>;
			status = "okay";
			spidev_do@0 {
				compatible = "spidev";
				reg = <0>;
				spi-max-frequency = <10000000>;
				enable-dma = <1>;
			};
		};

		usb1: usb@ffb40000 {
			status = "okay";
		};

		dwmmc0@ff704000 {
			num-slots = <1>;
			supports-highspeed;
			broken-cd;
			altr,dw-mshc-ciu-div = <3>;
			altr,dw-mshc-sdr-timing = <0 3>;

			slot@0 {
				reg = <0>;
				bus-width = <4>;
			};
		};

		gmac1: ethernet@ff702000 {
			status = "okay";
			phy-handle = <&phy0>;
			phy-mode = "rgmii";
			snps,max-mtu = <4062>;
		};

		mdio1: mdio@ff702000 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			phy0: ethernet-phy@0 {
				reg = <0x3>;
				device_type = "ethernet-phy";
				compatible = "ethernet-phy-ieee802.3-c22";
			};
		};
	};
};
